
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="UTF-8" />
</head>

<!-- 
<div class="col-lg-9 col-md-8" ng-init="carregarCombos();" >
 -->

<h1>Novo Tipo de Rotina</h1>

	<div class="card">
		<div class="content">
			<form id="formArea" ng-submit="salvar();">								
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Nome</label> 
							<input type="text" ng-model="tiporotina.nome" class="form-control border-input" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label>Descrição</label>
							<input type="text" ng-model="tiporotina.descricao" class="form-control border-input" />
						</div>
					</div>
				</div>
				<!-- 
				<div class="row">
					<div class="col-md-3">
						<div class="form-group"> 
						   <label>Fabricante</label> 
							<select ng-model="equipamento.fabricante.id"
							 id="selectFabricante"
							  class="form-control"> 
							  <option value="">Selecione</option> 
							  <option
							  	ng-repeat="fabricante in fabricanteesList"  
							  	value="{{fabricante.id}}">{{fabricante.nome}}
							  </option>
							</select>	
						</div>
					</div>
				</div>
				 -->
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label>Resposável</label> 
							<input type="text" ng-model="tiporotina.responsavel" class="form-control border-input" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
					<ul>
	        			<li ng-repeat="erro in erros track by $index" class="alert alert-danger"> {{erro}} </li>
	    			</ul>
					</div>
				</div>	
				<button type="submit" class="btn btn-info btn-fill btn-wd">Salvar</button>
				<button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="voltar();">Voltar</button>
			</form>
		</div>
	</div>

</html>